@model CarrinhoCompraViewModel

<div class="container">
    <div class="row checkoutForm">
        <i class="bi bi-cart4"></i>
        <div>
            <img src="~/images/Full-Cart-icon.png" width="30" height="35" />
            <h4>Seu Carrinho de compras</h4>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Quantidade</th>
                    <th>Lanche</th>
                    <th class="text-right">Preço</th>
                    <th class="text-right">Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.carrinhoCompra.CarrinhoCompraItens)
                {
                    <tr>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-left">@item.Lanche.LancheNome</td>
                        <td class="text-right">@item.Lanche.Preco.ToString("c")</td>
                        <td class="text-center">@((item.Lanche.Preco * item.Quantidade).ToString("c"))</td>
                        <td>
                            <a asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompra"
                               asp-route-lancheId="@item.Lanche.LancheId">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        @Model.carrinhoCompraTotal.ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-right">
            <div class="btn-group">
                <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" asp-controller="Lanche" asp-action="List">Continuar Comprando</a>
            </div>
        </div>
    </div>
</div>